.header-flex-container{
    display: flex;
    justify-content: space-between; 
    padding: 50px 50px   
}
.logo{
    width: 300px;
    height: 102px;
}
.nav-list{
    display: flex;
    font-size: 30px;
    padding: 50px 50px
}
.nav-list-item{
    margin-left: 10px;    
}
.nav-link{
    text-decoration: none;
    color: black;
    font-weight: bold;    
}
@media screen and (max-width: 720px) {
    .header-flex-container{        
        flex-direction: column;
        text-align: center;          
    }
}
@media screen and (max-width: 720px) {
    .nav-list{
        flex-direction: column;
        text-align: center;
    }
}